body{
    background-color:rgb(255, 255, 255);
}


button {
    padding: 2%;
    margin: 2%;
}


/*CSS DO FORM DE CADASTRO*/



.divform{
    background-color: azure;
    border: solid silver;
    width: 40%;
    padding: 2%;
    margin-top: 2%;
    display: none;
}

.divform button {
    margin: 2%;
}

#formCad{
    
    display: flex;
    flex-direction: column;
}

.divprod{
    margin: 2%;
    
    
}

.divprod:hover{
    box-shadow: 5px 5px 5px rgb(150, 153, 153),5px 5px 5px rgb(150, 153, 153);
}

.divprod h1,h2,p,img{
    display: inline-block;
    margin-right: 2%;
    width: 200px;
    font-weight: lighter;
    
}

h1{
    background-color: greenyellow;
    color: #fff;
}

.divprod img{
    width: 15%;
    height: 200px;
}

/* edição do formulario de editar produtos*/
.formEditProd {
    width: 400px;
    background-color: rgb(58, 112, 112);
    display: none;
    flex-direction: column;
    border: solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Certifique-se de que a modal esteja na frente de outros elementos */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra para dar destaque */
}


@media (max-width: 900px) { /*estilo css para telas menores*/
    
    .botao_adicionar_prod{
        width: 40%;
        margin: auto;
    }

    .divform{
        width: 80%;
        padding: 2%;
        margin: auto;
        margin-top: 10%;
    }

    .divprod{

        width: 100%;
        font-size: 2vb;
        color: aliceblue;
        
    }

    

   

    .divprod h1,h2,p{
        display: block ;
        margin-right: 2%;
    }

    

    .divprod img{
        width: 60%;
        height: auto;
        position: relative;
        left: 20%;
    }
    
    
    .container {
      padding: 10px; /* Reduzir o espaço ao redor do conteúdo para telas pequenas */
    }

}