.botao_adicionar_prod{
    background-color: greenyellow;
    border: solid rgb(201, 201, 201);
    width: 12%;
}

.botao_adicionar_prod img{
    width: 100%;
}

.botao_adicionar_prod h3{
    text-align: center;
    background-color: greenyellow;
    height: 100%;
    font-weight: bold;
    font-size: 90%;
}

.botao_adicionar_prod:hover{
    box-shadow: 5px 5px 5px black, 0px 0px 5px black;
    transition: 0.4s;
} 


/*CSS DO FORM DE CADASTRO*/



.divform{
    background-color: azure;
    border: solid silver;
    width: 40%;
    padding: 2%;
    margin-top: 2%;
    display: none;
}

#formCad{
    
    display: flex;
    flex-direction: column;
}


@media (max-width: 900px) { /*estilo css para telas menores*/
    
    .botao_adicionar_prod{
        width: 40%;
        margin: auto;
    }

    .divform{
        width: 80%;
        padding: 2%;
        margin: auto;
        margin-top: 10%;
    }
    
    .container {
      padding: 10px; /* Reduzir o espaço ao redor do conteúdo para telas pequenas */
    }

}