.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(1, 6, 54);
}


.div-prod{
    background-color: rgb(255, 255, 255);
    border: solid silver;
    height: auto;
    margin: 2%;
    width: 300px;
    cursor: pointer;
}

.div-prod h1{
    background-color: rgb(1, 15, 27);
    font-size: 3vh;
    height: 13%;
    color: aliceblue;
}

.div-prod h2{
    background-color: black;
    color: rgb(34, 168, 0);
    text-align: center;
}

.div-prod img{
    width: 100%;
    height: 140px;
}

.header{
    border-bottom: solid silver;
    
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 1%;
    width: 98%;
}

.header img{
    width: 80px;
    height: 100%;
    
}

.header nav {
    color: rgb(14, 1, 1);
    font-size: 15px
    
}

.header nav a {
    font-size: 3vb;
    background-color: azure;
    margin-right: 1%;
    padding: 1%;
}