.botao_adicionar_prod{
    background-color: greenyellow;
    border: solid rgb(201, 201, 201);
    width: 12%;
}

.botao_adicionar_prod img{
    width: 100%;
}

.botao_adicionar_prod h3{
    text-align: center;
    background-color: greenyellow;
    height: 100%;
    font-weight: bold;
    font-size: 90%;
}

.botao_adicionar_prod:hover{
    box-shadow: 5px 5px 5px black, 0px 0px 5px black;
    transition: 0.4s;
} 


/*CSS DO FORM DE CADASTRO*/



.divform{
    background-color: azure;
    border: solid silver;
    width: 40%;
    padding: 2%;
    margin-top: 2%;
    display: none;
}

#formCad{
    
    display: flex;
    flex-direction: column;
}

.divprod{
    background-color: beige;
    margin: 2%;
}

.divprod h1,h2,p,img{
    display: inline-block;
    margin-right: 2%;
    width: 200px;
}

.divprod img{
    width: 15%;
    height: 80px;
}




@media (max-width: 900px) { /*estilo css para telas menores*/
    
    .botao_adicionar_prod{
        width: 40%;
        margin: auto;
    }

    .divform{
        width: 80%;
        padding: 2%;
        margin: auto;
        margin-top: 10%;
    }

    .divprod{
        background-color: rgb(212, 22, 22);
        width: 100%;
        font-size: 2vb;
        color: aliceblue;
    }

   

    .divprod h1,h2,p,img{
        display: block ;
        margin-right: 2%;
    }

    

    .divprod img{
        width: 100%;
        height: 30px;
    }
    
    
    .container {
      padding: 10px; /* Reduzir o espaço ao redor do conteúdo para telas pequenas */
    }

}